NET "clk" LOC = B8 | IOSTANDARD = "LVCMOS33";

NET "ad" LOC = G12 | IOSTANDARD = "LVCMOS33";
NET "switch" LOC = N3 | IOSTANDARD = "LVCMOS33";

NET "clr" LOC = E2 | IOSTANDARD = "LVCMOS33";
NET "adj[0]" LOC = P11 | IOSTANDARD = "LVCMOS33"; NET "adj[1]" LOC = L3 | IOSTANDARD = "LVCMOS33"; NET "adj[2]" LOC = K3 | IOSTANDARD = "LVCMOS33"; NET "adj[3]" LOC = B4 | IOSTANDARD = "LVCMOS33";

NET "o_seg[0]" LOC = L14 | IOSTANDARD = "LVCMOS33"; NET "o_seg[1]" LOC = H12 | IOSTANDARD = "LVCMOS33"; NET "o_seg[2]" LOC = N14 | IOSTANDARD = "LVCMOS33"; NET "o_seg[3]" LOC = N11 | IOSTANDARD = "LVCMOS33"; NET "o_seg[4]" LOC = P12 | IOSTANDARD = "LVCMOS33"; NET "o_seg[5]" LOC = L13 | IOSTANDARD = "LVCMOS33"; NET "o_seg[6]" LOC = M12 | IOSTANDARD = "LVCMOS33";
NET "a[3]" LOC = K14 | IOSTANDARD = "LVCMOS33";
NET "a[2]" LOC = M13 | IOSTANDARD = "LVCMOS33";
NET "a[1]" LOC = J12 | IOSTANDARD = "LVCMOS33";
NET "a[0]" LOC = F12 | IOSTANDARD = "LVCMOS33";